<h1>If you can dream it, you can TODO it!</h1>
<ul id="todos">
  <% tasks.each do |task| %>
    <li class="task">
      <a href="/tasks/<%=task.id %>"><%== task.description %></a>
    </li>
  <% end %>
</ul>
<% if Task.all.empty? %>
<p>There are no tasks remaining! You should add one!</p>
<% end %>

<a href="/tasks/new">Add task</a>
