<h1>Create a new account</h1>
<form method="POST" action="/tasks" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= Rack::Protection::AuthenticityToken.token(env['rack.session']) %>">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">
   <label for="password">Password</label>
  <input type="password" name="password" id="password">
 <label for="confirmPassword">Confirm Password</label>
  <input type="password" name="confirmPassword" id="confirmPassword">
  <input type="submit" value="Sign Up">

</form>
