<h1>Sign Up</h1>
<form method="POST" action="/users" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= Rack::Protection::AuthenticityToken.token(env['rack.session']) %>">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" value="<%= params[:email] %>">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <label for="confirm">Confirm Password</label>
  <input type="password" name="confirm" id="confirm">
  <input type="submit" value="Sign Up">
</form>
